[Unit]
Description=Service that cleans leftover cluster processes
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/leftokilld -d start
ExecStop=/usr/bin/leftokilld -d stop 

[Install]
WantedBy=multi−user.target
